<div class ="show-container">
  <div class="row">
    <div class="col-6">
      <div class="p-3"><h5><strong><%= @surfspot.name %></strong></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"><%= @surfspot.location %></h6>
      </div>
    </div>
    <div class="col-6 ">
      <div class="p-3 d-flex justify-content-end">
        <% if @user.favourites.where(surfspot_id: @surfspot).empty? %>
          <%= button_to 'Follow',
          surfspot_favourites_path(@surfspot),
          method: :post,
          class: 'button' %>
        <% else %>
          <%= button_to 'Following',
          surfspot_favourite_path(@surfspot),
          method: :delete,
          class: 'button-secondary' %>
        <% end %>

        <% if @user.favourites.where(surfspot_id: @surfspot).first %> <%# if its a favourite %>
          <% if @user.favourites.where(surfspot_id: @surfspot).first.alert == true %>
            <%= button_to surfspot_change_fav_alert_pref_path(@surfspot), method: :patch, class: 'button text-nowrap' do %>
            <i class="fa-solid fa-bell "></i> <small>ON</small>
            <% end %>
          <% else %>
            <%= button_to surfspot_change_fav_alert_pref_path(@surfspot), method: :patch, class: 'button-secondary text-nowrap' do %>
              <i class="fa-solid fa-bell"></i> <small>OFF</small>
            <% end %>
          <% end %>
        <% end %>


      </div>
    </div>
    <div class="col-6 d-flex justify-content-center mx-auto p-2 border-top border-bottom">
      <%= image_tag @surfspot.image_url, class: "rounded-3" %>
    </div>
  </div>
  <div class="row justify-content-center m-2">
    <div class="col-12">
      <%= render "shared/post" %>
    </div>
  </div>
</div>
