<div class ="show-container">
  <div class="row">
    <div class="col-6">
      <div class="p-3"><h5><strong><%= @surfspot.name %></strong></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"><%= @surfspot.location %></h6>
      </div>
    </div>
    <div class="col-6 ">
      <div class="p-3 d-flex justify-content-end">


      <%# acrescentar if statement para mostrar um botão ou outro dependendo se o user tem este favourite ou não %>
      <% if @user.favourites.where(surfspot_id: @surfspot).empty? %>
        <%= button_to 'Follow',
        surfspot_favourites_path(@surfspot),
        method: :post,
        class: 'button' %>
      <% else %>
        <%= button_to 'Unfollow',
        surfspot_favourite_path(@surfspot),
        method: :delete,
        class: 'button-secondary' %>
      <% end %>

      <a href="#" class="button"><i class="fa-solid fa-bell"></i></a>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center mx-auto p-2 border-top border-bottom">
      <%= image_tag @surfspot.image_url, class: "rounded-3" %>
    </div>
  </div>
</div>
