 <div class="container">
  <%= render "shared/searchform" %>

  <div class="surfspot-wrapper">
    <div class="card card-your-spots-home mt-3 mx-auto" class="justify-content: center;">
      <img src="<%= @surfspot1.image_url %>" class="card-img-top custom-card-img" alt="<%= @surfspot1.name %>'s photo">
      <div class="card-body">
        <p class= "m-0"> 15 min ago </p>
        <h5 class="beach-title mt-0"> <%= @surfspot1.name %></h5>

        <p class="card-text"><small class="text-body-secondary"><%= @surfspot1.location[0] %><%= @surfspot1.location[1..-1].downcase %></small></p>
        <div class="button text-nowrap w-50 text-center">Check beach!</div>
      </div>
    </div>
  </div>

  <hr>

  <div>
    <div class="d-flex justify-content-between align-items-end">
      <div><h5 class="beach-title mt-0"> Your spots</h5></div>
      <%= link_to favourites_path do %>
        <div><p class="minimal-link">view all</p></div>
      <% end %>
    </div>

  <%# Surfspots scrolling %>
    <% if user_signed_in? %>
      <% if @surfspots_favourites.empty? %>
        <span><em>You are not following any spots yet</em></span>
      <% else %>
        <div class="surfspot-container">
          <div class="d-flex overflow-scroll">
            <% @surfspots_favourites.each do |favourite| %>
              <%= link_to surfspot_path(favourite.surfspot_id) do %>
                <div class="card card-your-spots-home mt-3">
                  <img src="<%= favourite.surfspot.image_url %>" class="custom-card-img" alt="<%= favourite.surfspot.name %>'s photo">
                  <div class="card-body pb-1">
                    <p class="m-0" style="color: #00808B; font-size: 0.875em">at: <%= favourite.posts.last.created_at.strftime("%H:%M") %></p>
                    <h5 class="mt-0"><%= favourite.surfspot.name %></h5>
                    <p class="mb-0" style="color: #00808B; font-size: 1.875em"> <%= favourite.posts.last.ripple %> </p>
                    <p class="mb-0 py-2" style="color: #ABABAB; font-size: 0.875em"> Good for <span class="level level-<%= favourite.posts.last.surf_level.downcase %>"><%= favourite.posts.last.surf_level %></span> surfer</p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="surfspot-container">
        <div class="d-flex overflow-scroll">
          <% @surfspots.each do |surfspot| %>
            <%= link_to surfspot_path(surfspot) do %>
              <div class="card card-your-spots-home mt-3">
                <img src="<%= surfspot.image_url %>" class="custom-card-img" alt="<%= surfspot.name %>'s photo">
                <div class="card-body pb-1">
                  <p class="m-0" style="color: #00808B; font-size: 0.875em">45 min ago</p>
                  <h5 class="mt-0"><%= surfspot.name %></h5>
                  <p class="mb-0" style="color: #00808B; font-size: 1.875em"> 0 - 0.5m </p>
                  <p class="mb-0 py-2" style="color: #ABABAB; font-size: 0.875em"> Good for <span class="level">beginner</span> surfer</p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <%# Live conditons %>
  <div class="d-flex justify-content-between align-items-center pt-5 pb-3">
    <div><h5 class="beach-title m-0"> Live conditions</h5></div>
    <div><p class="minimal-link m-0">view all</p></div>          <%# TODO:Should this link to my_feed?? %>
  </div>


  <div class="py-3">
    <% @posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </div>
</div>

<%# World locations%>
<div class="px-3 py-5" style="background-color: #BEDFDC">
  <div>
    <h5 class="brasil-title">Hello from Brasil 🌎</h5>
    <!-- Surfspot container for horizontal scrolling -->
    <div class="surfspot-container">
      <div class="d-flex overflow-scroll gap-3">
        <!-- First Card -->
        <div class="card-wrapper">
          <div class="card mt-1 position-relative">
            <img src="https://images.unsplash.com/photo-1716859497120-66b09f840064?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img rounded">
            <div class="text-overlay">
              <p class="text-white"><small>Itacaré</small></p>
            </div>
          </div>
        </div>

        <!-- Second Card -->
        <div class="card-wrapper">
          <div class="card mt-1 position-relative">
            <img src="https://images.unsplash.com/photo-1476574898132-040f50db0a01?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img rounded">
            <div class="text-overlay">
              <p class="text-white"><small>Pipa Grande</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
