<%# the actual card %>
<div class="card mb-3  w-100"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
  <img src="<%= post.surfspot.image_url %>" height="145" class="w-100 feedpost-img"  alt="<%= post.surfspot.name %>'s photo">
  <div class="card-body border-start border-4 py-2 px-3">
    <h5 class="card-title mb-0"><strong><%= post.surfspot.name %></strong> at <%= post.created_at.strftime("%H:%M") %></h5>
    <p class="mb-0" style="color:grey"><em><%= post.created_at.strftime("%d %b. %Y") %></em></p>
    <span class="level level-<%= post.surf_level.downcase %>"><%= post.surf_level.capitalize %> </span>
  </div>
  <div class="card-body border-start border-4 py-2 px-3">
    <p class="mb-2"><%= post.content %></p>
    <p class="card-text mb-2">
      <i class="fa-solid fa-up-right-and-down-left-from-center" style="color: #00808B"></i> <%= post.ripple %>
      <i class="fa-regular fa-compass ms-1" style="color: #00808B"></i> <%= post.wave_direction %>
      <i class="fa-regular fa-clock ms-1" style="color: #00808B"></i> <%= post.wave_period %>
    </p>
  </div>
</div>

<%# bottom offcanvas %>
<div class="offcanvas offcanvas-bottom offcanvas-size-xl" tabindex="-1" id="offcanvasBottom<%= post.id %>" aria-labelledby="offcanvasBottom<%= post.id %>Label">
  <div class="offcanvas-header mb-2 mt-0">
    <h5 class="offcanvas-title" id="offcanvasBottom<%= post.id %>Label"><%= post.created_at.strftime("%H:%M") %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="container">
      <div class="row mb-3 mt-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body w-auto">
              <p class="card-title mb-0"><strong>Summary</strong></p>
              <p class="card-text">
                <%= post.content %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <%= render "posts/metric", title: "Ripple", metric: post.ripple, icon: "ripple.png" %>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <%= render "posts/metric", title: "Direction", metric: post.wave_direction, icon: "wavedirection.png" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <%= render "posts/metric", title: "Wave Period", metric: post.wave_period, icon: "waveperiod.png" %>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <%= render "posts/metric", title: "Sea Temp.", metric: post.sea_temperature, icon: "thermometer.png" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <%= render "posts/metric", title: "Wind Speed", metric: post.wind, icon: "windspeed.png" %>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
           <div class="card-body py-2 px-3">
              <%= render "posts/metric", title: "Wind Direction", metric: post.wind_direction, icon: "winddirection.png" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <%= render "posts/metric", title: "Tide", metric: post.tide, icon: "tide.png" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
