<%# the actual card %>
<div class="card mb-3 ps-4 w-100"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
  <div class="card-body border-start border-4 py-2">
    <h5 class="card-title mb-0"><%= post.created_at.strftime("%H:%M") %></h5>
    <span class="level"><%= post.surf_level.capitalize %>s </span>
  </div>
  <div class="card-body py-1 px-4">
    <p class="card-text">
      <i class="fa-solid fa-up-right-and-down-left-from-center" style="color: #00808B"></i> <%= post.ripple %>
      <i class="fa-regular fa-compass ms-1" style="color: #00808B"></i> <%= post.wave_direction %>
      <i class="fa-regular fa-clock ms-1" style="color: #00808B"></i> <%= post.wave_period %>
    </p>
  </div>
</div>

<%# bottom offcanvas %>
<div class="offcanvas offcanvas-bottom offcanvas-size-xl" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header my-2">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Detailed conditions</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="container">
      <div class="row mb-3">
        <div class="col-6">
          <div class="card w-100">
            <div class="card-body py-2 px-3">
              <p class="card-title mb-0"><strong>Wave Period</strong></p>
              <p class="card-text"><%= post.wave_period %></p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card w-100">
            <div class="card-body py-2 px-3">
              <p class="card-title mb-0"><strong>Wave Direction</strong></p>
              <p class="card-text"><%= post.wave_direction %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <p class="card-title mb-0"><strong>Wind</strong></p>
              <p class="card-text"><%= post.wind %></p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <p class="card-title mb-0"><strong>Wind Direction</strong></p>
              <p class="card-text"><%= post.wind_direction %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <p class="card-title mb-0"><strong>Ripple</strong></p>
              <p class="card-text"><%= post.ripple %></p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <p class="card-title mb-0"><strong>Sea Temperature</strong></p>
              <p class="card-text"><%= post.sea_temperature %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <p class="card-title mb-0"><strong>Tide</strong></p>
              <p class="card-text"><%= post.tide %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
