<%# the actual card %>
<div class="card mb-3 ps-4 w-100"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom<%= post.id %>" aria-controls="offcanvasBottom<%= post.id %>">
  <div class="card-body border-start border-4 py-2">
    <h5 class="card-title mb-0"><%= post.created_at.strftime("%H:%M") %> <%= post.surfspot.name %></h5>
    <span class="level level-<%= post.surf_level.downcase %>"><%= post.surf_level.capitalize %> </span>
  </div>
  <div class="card-body py-1 px-4">
    <p class="card-text">
      <i class="fa-solid fa-up-right-and-down-left-from-center" style="color: #00808B"></i> <%= post.ripple %>
      <i class="fa-regular fa-compass ms-1" style="color: #00808B"></i> <%= post.wave_direction %>
      <i class="fa-regular fa-clock ms-1" style="color: #00808B"></i> <%= post.wave_period %>
    </p>
  </div>
</div>

<%# bottom offcanvas %>
<div class="offcanvas offcanvas-bottom offcanvas-size-xl" tabindex="-1" id="offcanvasBottom<%= post.id %>" aria-labelledby="offcanvasBottom<%= post.id %>Label">
  <div class="offcanvas-header mb-2 mt-0">
    <h5 class="offcanvas-title" id="offcanvasBottom<%= post.id %>Label"><%= post.created_at.strftime("%H:%M") %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="container">
      <div class="row mb-3 mt-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body w-auto">
              <p class="card-title mb-0"><strong>Summary</strong></p>
              <p class="card-text">
                <%= post.content %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card w-100">
            <div class="card-body py-2 px-3">
              <div class="row align-items-center">
                <div class="col-3 d-flex justify-content-center">
                  <%= image_tag "ripple.png", class: "icon"%>
                </div>
                <div class="col-9">
                  <p class="card-title mx-3 mb-0 text-center"><strong>Ripple</strong></p>
                  <p class="card-text mx-3 text-center"><%= post.ripple %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card w-100">
            <div class="card-body py-2 px-3">
              <div class="row align-items-center">
                <div class="col-2 d-flex justify-content-center">
                  <%= image_tag "wavedirection.png", class: "icon"%>
                </div>
                <div class="col-9">
                  <p class="card-title mx-3 mb-0 text-center"><strong>Direction</strong></p>
                  <p class="card-text mx-3 text-center"><%= post.wave_direction %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <div class="row align-items-center">
                <div class="col-3 d-flex justify-content-center">
                  <%= image_tag "waveperiod.png", class: "icon"%>
                </div>
                <div class="col-9">
                  <p class="card-title mx-3 mb-0 text-center"><strong>Period</strong></p>
                  <p class="card-text mx-3 text-center"><%= post.wave_period %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <div class="row align-items-center">
                <div class="col-3 d-flex justify-content-center">
                  <%= image_tag "thermometer.png", class: "icon"%>
                </div>
                <div class="col-9">
                  <p class="card-title mx-3 mb-0 text-center"><strong>Temp</strong></p>
                  <p class="card-text mx-3 text-center"><%= post.sea_temperature %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <div class="row align-items-center">
                <div class="col-3 d-flex justify-content-center">
                  <%= image_tag "windspeed.png", class: "icon"%>
                </div>
                <div class="col-9">
                  <p class="card-title mx-3 mb-0 text-center"><strong>Wind</strong></p>
                  <p class="card-text mx-3 text-center"><%= post.wind %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <div class="row align-items-center">
                <div class="col-3 d-flex justify-content-center">
                  <%= image_tag "winddirection.png", class: "icon"%>
                </div>
                <div class="col-9">
                  <p class="card-title mx-3 mb-0 text-center"><strong>Direction</strong></p>
                  <p class="card-text mx-3 text-center"><%= post.wind_direction %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <div class="row align-items-center">
                <div class="col-3 d-flex justify-content-center">
                  <%= image_tag "tide.png", class: "icon"%>
                </div>
                <div class="col-9">
                  <p class="card-title mx-3 mb-0 text-center"><strong>Tide</strong></p>
                  <p class="card-text mx-3 text-center"><%= post.tide %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <div class="row mb-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body py-2 px-3">
              <div class="row align-items-center">
                <div class="col-3 d-flex justify-content-center">
                  <%= image_tag "winddirection.png", class: "icon"%>
                </div>
                <div class="col-9">
                  <p class="card-title mx-3 mb-0 text-center"><strong>Direction</strong></p>
                  <p class="card-text mx-3 text-center"><%= post.wind_direction %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
